---

---

<section id="features" class="container mx-auto px-8 py-36">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">¿QUÉ OFRECEMOS?</h2>
  
    <!-- Grid principal -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 text-center">
      
      <!-- Item 1 -->
      <div class="flex flex-col items-center">
        <img src="icons/iconCalidad.svg" alt="Material de alta calidad" class="h-14 w-14 mb-4" />
        <h3 class="text-xl font-semibold">Material de alta calidad</h3>
        <p class="text-gray-600 px-8">
          Disponible en PVC y madera con diferentes tamaños y pesos para ajustarse a cualquier entrenamiento.
        </p>
      </div>
  
      <!-- Item 2 -->
      <div class="flex flex-col items-center">
        <img src="icons/iconPersonas.svg" alt="Versatilidad para todos" class="h-14 w-14 mb-4" />
        <h3 class="text-xl font-semibold">Versatilidad para todos</h3>
        <p class="text-gray-600 px-8">
          Ideal para todas las edades y niveles de condición física. Desde niños hasta adultos mayores, cualquiera puede usarlas para mejorar su movilidad y bienestar.
        </p>
      </div>
  
      <!-- Item 3 -->
      <div class="flex flex-col items-center">
        <img src="icons/iconAnciano.svg" alt="Alivia tensiones y fortalece el cuerpo" class="h-14 w-14 mb-4" />
        <h3 class="text-xl font-semibold">Disminuye las tensiones y fortalece el cuerpo</h3>
        <p class="text-gray-600 px-8">
          Diseñadas para adaptarse a cualquier disciplina del deporte, reduciendo lesiones y ayudandote alcanzar todas tus capacidades.
        </p>
      </div>
  
      <!-- Item 4 -->
      <div class="flex flex-col items-center">
        <img src="icons/iconGanancias.svg" alt="Mejor relación calidad-precio" class="h-14 w-14 mb-4" />
        <h3 class="text-xl font-semibold">La mejor relación en precio del mercado</h3>
        <p class="text-gray-600 px-8">
          Somos una empresa comprometida con tu seguridad deportiva, ofreciendo barras de calidad al mejor precio.
        </p>
      </div>
  
    </div>
  </section>
  