<section id="products" class="min-h-screen w-full bg-secondary-blue-dark overflow-x-hidden">
  <div title="Productos" class="container mx-auto py-24 px-4">
    <h2 class="text-3xl font-extrabold mb-8 text-center text-gray-100">Nuestros Productos</h2>
      <div class="productos-container p-6 rounded-lg max-w-6xl mx-auto">
        
          <!-- Contenedor principal para productos -->
          <div id="productos-container">
            <!-- Sección PVC -->
            <div class="material-section p-6 rounded-lg mb-8 shadow-lg">
              <div class="flex justify-between items-center mb-6">
                <h3 class="text-gray-100 text-2xl font-bold">PVC</h3>
                <div class="flex-grow mx-4">
                  <div class="h-1 bg-gray-100 rounded"></div>
                </div>
              </div>
          
              <article class="grid grid-cols-1 md:grid-cols-3 gap-6" id="pvc-productos">
                <!-- Productos PVC -->
                <div class="producto rounded-lg overflow-hidden shadow-lg transition-all duration-300 hover:shadow-xl">
                  <div class="imagen-container rounded-lg overflow-hidden">
                    <img src="images/barraPVC_2.webp" alt="GRAVITY STICK MORADO" class="w-full h-64 object-cover transition-transform duration-500 transform hover:scale-110">
                  </div>
                </div>
                
                <div class="producto rounded-lg overflow-hidden shadow-lg transition-all duration-300 hover:shadow-xl">
                  <div class="imagen-container rounded-lg overflow-hidden">
                    <video class="w-full h-64 object-cover transition-transform duration-500 transform hover:scale-110" loop muted autoplay> 
                      <source src="videos/videoPVC.webm" type="video/webm" > 
                    </video>
                  </div>
                </div>
                
                <div class="producto rounded-lg overflow-hidden shadow-lg transition-all duration-300 hover:shadow-xl">
                  <div class="imagen-container rounded-lg overflow-hidden">
                    <img src="images/barraPVC_1.webp" alt="GRAVITY STICK" class="w-full h-64 object-cover transition-transform duration-500 transform hover:scale-110">
                  </div>
                </div>
              </article>
            </div>
          
            <!-- Sección Madera -->
            <div class="material-section p-6 rounded-lg shadow-lg">
              <div class="flex justify-between items-center mb-6">
                <h3 class="text-primary-yellow text-2xl font-bold">Madera</h3>
                <div class="flex-grow mx-4">
                  <div class="h-1 bg-primary-yellow rounded"></div>
                </div>
              </div>
          
              <article class="grid grid-cols-1 md:grid-cols-3 gap-6" id="madera-productos">
                <!-- Productos Madera -->
                <div class="producto rounded-lg overflow-hidden shadow-lg transition-all duration-300 hover:shadow-xl">
                  <div class="imagen-container rounded-lg overflow-hidden">
                    <img src="images/barraMADERA_1.webp" alt="GRAVITY STICK MADERA" class="w-full h-64 object-cover transition-transform duration-500 transform hover:scale-110">
                  </div>
                </div>
                
                <div class="producto rounded-lg overflow-hidden shadow-lg transition-all duration-300 hover:shadow-xl">
                  <div class="imagen-container rounded-lg overflow-hidden">
                    <video class="w-full h-64 object-cover transition-transform duration-500 transform hover:scale-110" loop muted autoplay playsinline disableRemotePlayback>
                      <source src="videos/videoMadera.webm" type="video/webm" >
                      Tu navegador no soporta video.
                    </video>
                  </div>
                </div>
                
                <div class="producto rounded-lg overflow-hidden shadow-lg transition-all duration-300 hover:shadow-xl">
                  <div class="imagen-container rounded-lg overflow-hidden">
                    <img src="images/barraMADERA_3.webp" alt="BARRA MADERA" class="w-full h-64 object-cover transition-transform duration-500 transform hover:scale-110">
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
  </div>
</section>